@category
Feature: Category

  Background:
    Given I am on a category page

  Scenario: Category
    Then I should see the category name
    And I should see the breadcrumbs
    And I should see a list of products
    And each product should have a price

  Scenario: Go to Product Page
    When I click on a product
    Then I should be on a product page

  @javascript @disabled
  Scenario: Add to Cart
    When I click on the add to cart button of a product
    Then I should be on the cart page
    And I should see a success message

  @javascript @fixme
  Scenario: Toolbar
    Then I can change what attribute to sort by
    And I can change the sort direction
    And I can paginate forwards through the list of results
    And I can paginate backwards through the list of results
    And I can change the number of products to show per page
    # And I can change to a list view
    # And I can change to a grid view