@config @prod
Feature: System Configuration

  Scenario: CSS / JS is merged
    Then the config value for "dev/css/merge_files" is "1"
    And the config value for "dev/js/merge_files" is "1"

  Scenario: Magento cronjob is running
    Then the Magento cronjob is running

  Scenario: Caching is Enabled
    Then caching is enabled