@security
Feature: Security

  Scenario: .htaccess
    When I am on "/app/etc/local.xml"
    Then the response status code should be 403

  Scenario: non-standard admin path
    When I am on "/admin"
    Then the response status code should be 404

  Scenario: non-standard admin username
    Then an admin user with username "admin" should not exist

  @prod
  Scenario: check logging is disabled
    Then the config value for "dev/log/active" is "0"

  @prod
  Scenario: disable access to Magento Connect
    When I am on "/downloader/"
    Then the response status code should be 404

  @prod
  Scenario: SSL
    Then the site has a valid SSL certificate

  Scenario: Wordpress is up to date
    Given Wordpress is installed
    Then Wordpress is using the latest version